.title{
  width: 70vw;
}

.container {
  align-items: center;
  background-color: black;
  opacity: 50%;
  // color: blue;
  margin: 0 auto;
  text-align: center;
  // font-size: 30vh;
  
  //text-shadow: 5px 5px turquoise;
}

.countdown{
  mix-blend-mode: difference;
  filter: invert(1);
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  font-size: 5.0rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 0.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 2.5rem;
}