<div class="container">
  <h1 class="title">TRON: ARES Release Countdown</h1>
  <div id="countdown">
  <ul>
    <li><span>
      Months: 
      {{ (time.getMonth() < 10 ? '0' : '') + time.getMonth() }} 
    </span></li>
    <li><span>
        Days: 
      {{ (time.getDay() < 10 ? '0' : '') + time.getDay() }} 
    </span></li>
    <li><span>
      Hours:
      {{ (time.getHours() < 10 ? '0' : '') + time.getHours() }} 
    </span></li>
    <li><span>
      Minutes: 
      {{ (time.getMinutes() < 10 ? '0' : '') + time.getMinutes() }} 
    </span></li>
    <li><span>
      Seconds: 
      {{ (time.getSeconds() < 10 ? '0' : '') + time.getSeconds() }} 
    </span></li>
  </ul>
</div>
  
  <!-- <p>Months: 
    {{ (time.getMonth() < 10 ? '0' : '') + time.getMonth() }} 
  </p>
  <p> Days: 
    {{ (time.getDay() < 10 ? '0' : '') + time.getDay() }} 
  </p>
  <p> Hours: </p>
  <p>
    {{ (time.getHours() < 10 ? '0' : '') + time.getHours() }} 
  </p>
  <p> Minutes: 
    {{ (time.getMinutes() < 10 ? '0' : '') + time.getMinutes() }} 
  </p>
  <p> Seconds: 
    {{ (time.getSeconds() < 10 ? '0' : '') + time.getSeconds() }} 
  </p> -->
</div>
